<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClNKkI-yO0Qsk3K8tQM43wt1GOXpVOlts</string>
	<key>GCM_SENDER_ID</key>
	<string>32204868288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqeel.AqeelAhamed-CW-iOS</string>
	<key>PROJECT_ID</key>
	<string>aqeel-ios-cw</string>
	<key>STORAGE_BUCKET</key>
	<string>aqeel-ios-cw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32204868288:ios:c14d0f789d92315d037b25</string>
</dict>
</plist>